<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h4><%= @task.title %></h4>
      </div>
      <div class="card-body">
        <%= @task.description %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= image_tag @task.photo, class: 'img-fluid rounded' %>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        Top 5
      </div>
      <ul class="list-group list-group-flush">
        <% @top.each_with_index do |user, i| %>
        <li class="list-group-item">
          <span class="badge badge-success top-badge">
            <%= "##{ i + 1 }" %>
          </span>
          <%= image_tag user.photo, class:'top-img rounded-circle' %>
          <%= "#{user.first_name} #{user.last_name}" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Users who completed this task
      </div>
      <ul class="list-group list-group-flush">
        <% @users.each do |user| %>
        <li class="list-group-item">
          <%= image_tag user.photo, class:'list-img rounded-circle' %>
          <%= "#{user.first_name} #{user.last_name}" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
